@mixin typo_txt{
    font-family: 'Roboto', sans-serif;
}

@mixin typo_title{
    font-family: 'Shrikhand', cursive;
}
@mixin typo_title{
    color:$color_primary
}

/* Mixins pour media queries*/

@mixin mobile {
    
    @media all and (max-width:map-get($breakpoints, mobile)){
    
       @content
    
    
}}

@mixin tab{
    @media all and (max-width:map-get($breakpoints, tab)){
        @content;
    }
}

@mixin desktop{
    @media all and (min-width:map-get($breakpoints, desktop)){
        @content;   
    }
}


@mixin card-shadow ($color:$color_bg3){
    box-shadow: 5px 5px 3px $color;
}

@mixin marge{
    margin-bottom: 10px;
}

@mixin border-carte {
    border: solid 0px;
    border-radius: 10px;
}

@mixin padding_cards{
    padding: 5px;

}