@mixin typo_txt{
    font-family: 'Roboto', sans-serif;
}

@mixin typo_title{
    font-family: 'Shrikhand', cursive;
}

@mixin typo_title{
    color:$color_primary
}

/* Mixins pour media queries*/

@mixin mobile-only {
    
    @media all and (max-width:map-get($breakpoints, mobile)){
    
        grid-template-columns: 1fr;
    
    }}



@mixin card-shadow ($color:$color_bg3){
    box-shadow: 5px 5px 3px $color;
}

@mixin marge{
    margin-bottom: 10px;
}

@mixin border-carte {
    border: solid 0px;
    border-radius: 25px;
}