@import "../Utils/variables";

.footer{
    background-color: $color_footer;
    color: $color-bg2;
    display: flex;
    flex-direction: column;

    &__title{
        font-family: Shrikhand, sans-serif;
    }

    &__list{
        display: flex;
        flex-direction: column;
    
    }

    &__row{
        padding: 5px;
    }
}

