footer{
    background-color: $color_footer;
    color: $color-bg2;
    display: flex;
    flex-direction: column;
}

.type_logo{
    font-family: Shrikhand, sans-serif;
}

.cont_links_footer{
    display: flex;
    flex-direction: column;
}